# Databases
sqlite.db

# Dumps
*.sql
*.sql.gz

# Logs
*.log

# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Astro
/.astro
/dist

# Drizzle
/drizzle

# Svelte
.svelte-kit

# Nuxt
.nuxt
.output

# Remix
.cache
build
public/build

# Gatsby
.cache/
#gatsby-themes/dist/
public

# Vercel
.vercel

# Netlify
.netlify

# Cloudflare
.wrangler

# Misc
.DS_Store
*.pem
*.env
.env.*
!.env.example
