---
import { SITE } from "astrowind:config";
import type { Post } from "../../types";

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const host = `${SITE.site}/remark42`;
---

{
  <script async lang="javascript" define:vars={{ host, post }}>
    window.remark_config = {
      host,
      site_id: "blog",
      components: ["embed"],
      show_rss_subsription: true,
      page_title: post.title,
      theme: localStorage.getItem("theme") ?? "light",
      no_footer: true,
    };
    function loadRemark42() {
      if (typeof window.REMARK42?.destroy === 'function') {
        console.log('destroy remark42');
        window.REMARK42.destroy();
      }
      window.remark_config = remark_config;

      (function(c) {
        for(var i = 0; i < c.length; i++){
          var d = document, s = d.createElement('script');
          s.src = remark_config.host + '/web/' +c[i] +'.js';
          s.defer = true;
          (d.head || d.body).appendChild(s);
        }
      })(remark_config.components || ['embed']);
    }

    loadRemark42();

  {/* document.addEventListener('astro:page-load', loadRemark42); */}
  </script>
}

<div id="remark42" class="max-w-3xl md:mx-auto mx-5"></div>
