---
import Header from '../components/widgets/Header.astro';
import Layout from '../layouts/Layout.astro';
import { headerData } from '../navigation';



const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Header showToggleTheme showRssFeed isSticky {...headerData}  />
  <div class="container px-4 mx-auto">
    <h1 class="text-4xl font-bold">Welcome to AstroWind</h1>
  </div>
</Layout>
