---
import SearchUI from "~/components/SearchUI.tsx";
import Header from "~/components/widgets/Header.astro";
import SearchLayout from "~/layouts/SearchLayout.astro";
import { headerData } from "~/navigation";

export const prerender = false;

const query = Astro.url.searchParams.get("q");
---

<SearchLayout metadata={{ title: `Search Results${query ? ` for "${query}"` : ""}` }}>
  <div slot="header">
    <Header showSearchBox={false} {...headerData} />
  </div>
  
  <SearchUI client:load initialQuery={query} />
</SearchLayout>
