---
import { Icon } from "astro-icon/components";

export interface Props {
  label?: string;
  class?: string;
}

const { label = "Toggle Menu", class: className = "btn btn-ghost btn-circle cursor-pointer group" } = Astro.props;
---

<button type="button" class={className} aria-label={label} data-aw-toggle-menu>
  <span class="sr-only">{label}</span>
  <slot>
    <Icon
      name="line-md:menu"
      class="w-6 h-6"
      data-aw-menu-default
    />


    <Icon
      name="line-md:menu-to-close-transition"
      class="w-6 h-6 hidden"
      data-aw-menu-expanded
    />


    <Icon
      name="line-md:close-to-menu-transition"
      class="w-6 h-6 hidden"
      data-aw-menu-collapsed
    />
  </slot>
</button>
